{% extends "layout/frontend.html" %} 
{% load static%}
{% block titlegabriel %} Diseños {% endblock %}

{% block content %}


  <main role="main" class="container">
    <h3> Diseños y herramientas varias </h3>
    <ul> 
      <li>  
        <a href="javascript:void(0);" data-toggle="modal" data-target="#ventana_modal"> Ventana Modal </a>
      </li>
      <li>  
        <a href="javascript:void(0);" onclick="confirmaAlert('Hola')"> Jquery alert </a>
      </li>
      <li>  
        <a href=""> Fancybox <i class="fas fa-yin-yang"></i> </a>
      </li>
      <li>  
        <a href=""> Ajax </a>
      </li>
    </ul>
  </main><!-- /.container -->

{% endblock  %}