{% extends "layout/frontend.html" %} 
{% load static%}
{% block titlegabriel %} Diseños {% endblock %}

{% block content %}


  <main role="main" class="container">
    <h3> Diseños y herramientas varias <i class="fas fa-search"></i> </h3>
    <ul> 
      <li>  
        <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#ventana_modal" onclick="carga_ajax_get('{% url "diseno_modal" 123 %}','2','_ventana_modal');" > Ventana Modal </a>
      </li>
      <li>  
        <a href="javascript:void(0);" onclick="confirmaAlert('Hola')"> Jquery alert </a>
      </li>
      <li>  
        <a href="{% static 'images/anime_girl_face2.jpg' %}" class="fancybox" > <img src="{% static "images/anime_girl_face2.jpg"%}" width="20" height="20" > </a>        
      </li>
      <li>  
        <a href="javascript:void(0);" onclick="carga_ajax_get('{% url "diseno_ajax" 123 %}','2','contenido_ajax')" > Ajax </a>
      </li>
    </ul>
    <hr />
    <div id="contenido_ajax"> contenido inicial </div>
  </main><!-- /.container -->

{% endblock  %}

 {% comment %} Datos que cargarán solo en ésta vista y no en general en el frontend {% endcomment %}
{% block bloque_css %}
<link rel="stylesheet" type="text/css" href=" {% static 'fancybox/jquery.fancybox.css' %} " />
{% endblock %}

{% block bloque_js %}
<script type="text/javascript" src=" {% static 'fancybox/jquery.fancybox.js' %} " ></script>
<script type="text/javascript">
  $(document).ready(function(){
    $(".fancybox").fancybox({
      openEffect: 'none',
      closeEffect: 'none',
    });
  });
</script>
{% endblock %}