{% extends "../layout/frontend.html" %} 
{% load static%}
{% block titlegabriel %} Formularios {% endblock %}

{% block content %}

  <main>
    <ul>
      <li>
        <a href=" {% url 'formularios_simple' %} "> Formulario Simple </a>
      </li>
      <li>
        <a href=" {% url 'formularios_form' %} "> Formulario con Clases </a>
      </li>
      <li>
        <a href=""> Formulario upload de archivos </a>
      </li>
      <li>
        <a href=""> Login </a>
      </li>
    </ul>
  </main><!-- /.container -->

{% endblock  %}

{% comment %} Archivos como éste contendrán secciones que se van a incrustar en el 
archivo principal layout/frontend.html {% endcomment %}