{% extends "../layout/frontend.html" %} 
{% load static%}
{% block titlegabriel %} Simple {% endblock %}

{% block content %}

  <main>

    <form name="form" method="post" action="{% url 'formularios_simple' %}">
      {% csrf_token %} 
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre" />
      </div>
      <div class="form-group">
        <label for="correo">Email</label>
        <input type="email" class="form-control" id="correo" name="correo" placeholder="E-mail" />
      </div>
      <div class="form-group">
        <label for="mensaje">Mensaje</label>
        <textarea class="form-control" id="mensaje" name="mensaje" rows="3" placeholder="Escriba su mensaje aquí" ></textarea>
      </div>
      <hr/>
      <a href="javascript:void(0);" class="btn btn-success" onclick="document.form.submit();" >
        Enviar
      </a>
    </form>


  </main><!-- /.container -->

{% endblock  %}

{% comment %} Archivos como éste contendrán secciones que se van a incrustar en el 
archivo principal layout/frontend.html {% endcomment %}