{% extends "../layout/frontend.html" %} 
{% load static%} 
{% load utilidades %}
{% block titlegabriel %} Consultas {% endblock %}

{% block content %}

  <main class="container">

    <div class="row">
      <h2> Consultas </h2>
      </br>
      <ul>
        {% for categoria in categorias %}

        <li>
          <a href="{% url "consultas_productos_por_categoria" categoria.slug %}"> {{categoria.nombre}} </a>
        </li> 

        {% endfor %}
      </ul>
      <hr/>
      <h3> Listado de productos ( Página {{page}} ) </h3>
      <p> Ejemplo template tag: {{page|ejemploFiltro}} </p>
      <hr/>
      <p style="text-align: right;">
        <a href="{% url 'consultas_add' %}" class="btn btn-success" >Crear</a>
      </p>
      <hr/>
      <p>
        <form action="" method="GET">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Busque aquí..." name="b" id="b" />
            <input type="hidden" name="page" value="1" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" onclick="buscador();">Buscar</button>
            </div>
          </div>
        </form>
      </p>
      <hr/>
      <table class="table table-bordered"> 
        <thead>
          <tr>
            <th> ID </th>
            <th>Categoría</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Fecha</th>
            <th>Foto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        {% for dato in datos %}
          <tr>
            <td>{{dato.id}}</td>
            <td>{{dato.categoria.nombre}}</td>
            <td>{{dato.nombre}}</td>
            <td>{{dato.descripcion|safe}}</td>
            <td>${{dato.precio|numberFormat}}</td>
            <td>{{ dato.fecha|invierteFecha }}</td>
            <td>
              <img src="{% static "upload/producto/" %}{{dato.foto}}  " width="100" height="100" />
            </td>
            <td>
              <a href="{% url 'consultas_productos_detalle' dato.id dato.slug %}" title='{{dato.nombre}}'> Detalle </a>
            </td> 
          </tr>
        {% endfor %}
      </table>
      {% include "../layout/paginacion.html" %} 
    </div>

  </main><!-- /.container -->

{% endblock  %}

