{% extends "../layout/frontend.html" %} 
{% load static%}
{% block titlegabriel %} Consultas {% endblock %}

{% block content %}

  <main class="container">

    <div class="row">
      <h2> Consultas </h2>
      </br>
      <ul>
        {% for categoria in categorias %}

        <li>
          <a href="{% url "consultas_productos_por_categoria" categoria.slug %}"> {{categoria.nombre}} </a>
        </li> 

        {% endfor %}
      </ul>
      <hr/>
      <h3> Listado de productos ( {{total}} ) </h3>
      <table class="table table-bordered"> 
        <thead>
          <tr>
            <th> ID </th>
            <th>Categoría</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Foto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

  </main><!-- /.container -->

{% endblock  %}

