{% extends "../layout/frontend.html" %} 
{% load static%}
{% block titlegabriel %} Consultas {% endblock %}

{% block content %}

  <main class="container">

    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Library</a></li>
        <li class="breadcrumb-item active" aria-current="page">Data</li>
      </ol>
    </nav>
    
    <div class="row">
      <h2> Consultas </h2>
      </br>
      <ul>
        {% for categoria in categorias %}

        <li>
          <a href="{% url "consultas_productos_por_categoria" categoria.slug %}"> {{categoria.nombre}} </a>
        </li> 

        {% endfor %}
      </ul>
    </div>

  </main><!-- /.container -->

{% endblock  %}

