{% extends "../layout/frontend.html" %} 
{% load static%}
{% block titlegabriel %} Mi titulo dinámico {% endblock %}

{% block content %}



<main class="container">
  <div class="row">
    <h3>Reportes</h3>
    <ul>
      <li>
        <a href="{% url 'reportes_pdf' %}" target="_blank">PDF</a>
      </li>
      <li>
        <a href="{% url 'reportes_importar_excel' %}">Importar Excel</a>
      </li>
      <li>
        <a href="{% url "reportes_exportar_excel" %}">Exportar excel</a>
      </li>
      <li>
        <a href="{% url 'reportes_importar_txt' %}">TXT</a>
      </li> 
      <li>
        <a href="">Cliente API</a>
      </li> 
    </ul>
  </div>

</main>


{% endblock  %}

{% comment %} Archivos como éste contendrán secciones que se van a incrustar en el 
archivo principal layout/frontend.html {% endcomment %}