{% extends "../layout/frontend.html" %} 
{% load static%}

{% block content %}

  <main class="container">

      <div>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if datos.has_previous %}
            <li class="page-item"><a class="page-link" href="?page=1" title="Primera página">&laquo;&laquo;&laquo;&laquo;</a></li>
            <li class="page-item"><a lass="page-link" href="?page={{datos.previous_page_number}}" title="Página anterior" >&laquo;&laquo;</a></li>
            {% endif %}

            {% for numero in numeros %}
            <li class="page-item {% if page == numero %} active {%endif%} ">
              <a class="page-link" href="?page={{numero}}" title="Página {{numero}}">
                {{ numero }}
              </a>
            </li>
            {% endfor %}

            {% if datos.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{datos.next_page_number}}" title="Página siguiente" >&raquo;&raquo;</a></li>
            <li class="page-item"><a class="page-link" href="?page={{datos.next_page_number}}" title="Última página">&raquo;&raquo;&raquo;&raquo;</a></li>
            {% endif %}
          
          </ul>
        </nav>
      </div>



  </main><!-- /.container -->

{% endblock  %}

