{% extends "../layout/frontend.html" %} 
{% load static%}
{% block titlegabriel %} Página Nuestro Equipo {% endblock %}

{% block content %}


  <main role="main" class="container">
    <div> 
      <h1> Hola desde nuestro equipo </h1>
      <p>
        <a href="{% url "nosotros_nuestro_equipo_detalle" 1 'hola' %}">Nuestro Equipo</a>
      </p>
    </div>
  </main><!-- /.container -->

{% endblock  %}

{% comment %} Archivos como éste contendrán secciones que se van a incrustar en el 
archivo principal layout/frontend.html {% endcomment %}