{% extends "../layout/frontend.html" %} 
{% load static%}
{% block titlegabriel %} Página Nuestro Equipo {% endblock %}

{% block content %}


  <main role="main" class="container">
    <div> 
      <h1> Hola desde nuestro equipo </h1>
      <ul>
        <li>ID: {{id}}</li>
        <li>Slug: {{slug}}</li>
        <li>Nombre: {{nombre}}</li>
        <li>Lista: {{estaciones}}</li>
      </ul>
    </div>
  </main><!-- /.container -->

{% endblock  %}

{% comment %} Archivos como éste contendrán secciones que se van a incrustar en el 
archivo principal layout/frontend.html {% endcomment %}